* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#111, #222);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: circle(40% at right 70%);
    background-color: #e80202;
}

.container {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
}


nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

nav h2 {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li{
    display: inline-block;
    margin: 0 7px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .3s;
}
nav ul li a:hover{
    color: #e80202;
}






.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.content .text{
    color: #fff;
    width: 40%;
}

.text h1{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 700;
    letter-spacing: 2px;
}

.text p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 10px 0;
}
.content .img{
    width: 40%;
    
}
.content .img img{
    width: 400px;
}

@media (min-width:950px) and (max-width:1150px ){
    .content .img img{
        width: 320px;
    }
}
@media (max-width:950px){
    .content,
    nav {
        flex-direction: column;
        justify-content: center;
    }

    .content .img,
    .content .text{
        width: 100%;
    }

    body::after{
        clip-path: circle(50% at bottom);
    }
}



























